body {
  font-family: 'Khula', sans-serif;
  font-weight: 400;
  color: $gray-200;
  background-color: $gray-900;
  background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px);
  font-size: 1rem;
}

.grid-container {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-rows: 3rem 2fr;
  grid-template-columns: 1fr;
  grid-template-areas: "top-nav" "main";

  transition: all 250ms;
}

.top-nav { 
  grid-area: top-nav;
  background-color: $charcoal;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;

  .link-item {
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 700;
  }
}
  
.main { 
  grid-area: main;
  padding: 1rem;
}

.grid {
  background-image:
    repeating-linear-gradient(darken($gray-800, 5%) 0 1px, transparent 1px 100%),
    repeating-linear-gradient(90deg, darken($gray-800, 5%) 0 1px, transparent 1px 100%);
  background-size: 10px 10px;

}